{% extends "layout.html" %}
{% block body %}
  
  <h2>User Management</h2>
  <br/>
  <ul class=users>
  {% for user in users %}
    <li>{{ user.short_name }}
    <form action="{{ url_for('remove_user') }}" method=post class=remove_button>
        <input type=hidden size=30 name=short_name value="{{ user.short_name }}">
        <input type=submit value="Remove user">
    </form></li>
  {% endfor %}
  </ul>
  <form action="{{ url_for('add_user') }}" method=post class=add_user>
      <dl>
        <dt>Add new user:
        <dt><input type=text size=30 name=short_name>
        <dt><input type=submit value=Add>
      </dl>
  </form>
{% endblock %}